@inherits LayoutComponentBase
@inject UserOptions options;

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@MudBlazor.Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a class="logo" href="/">
            <strong>Les batisseurs de nations</strong>
            <span>Les terres perdues</span>
        </a>
        <LiveStreamIndicator />
        <MudSpacer />
        <MudIconButton Icon="@MudBlazor.Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <SiderMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
        <MudScrollToTop>
            <MudFab Color="Color.Secondary" Icon="@MudBlazor.Icons.Filled.KeyboardArrowUp" />
        </MudScrollToTop>
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
