@inject UserOptions options;
@inject IEpisodesService EpisodesService

<MudNavMenu>
    <MudNavLink Href="/" Icon="@MudBlazor.Icons.Outlined.Home" Match="NavLinkMatch.All">Accueil</MudNavLink>
    <MudNavLink Href="/streams" Icon="@MudBlazor.Icons.Outlined.PlayArrow" Match="NavLinkMatch.All">Streams</MudNavLink>
    <MudNavGroup Title="Episodes" Expanded="true" HideExpandIcon="true" Icon="@MudBlazor.Icons.Outlined.CollectionsBookmark">
        @foreach (var season in Seasons)
        {
            var seasonKey = $"S{season.Number:00}";
            var seasonTitle = $"Season {season.Number}";
            <MudNavGroup Title="@seasonTitle" Expanded="true" HideExpandIcon="true">
                @foreach (var episode in season.Episodes)
                {
                    var episodeKey = $"S{season.Number:00}E{episode.Number:00}";
                    var episodeLink = $"/streams/seasons/{season.Number}/episodes/{episode.Number}";
                    var episodeTitle = $"Episode {episode.Number}";
                    var icon = episode.HasTeamMembers
                        ? MudBlazor.Icons.Sharp.LocalFireDepartment
                        : MudBlazor.Icons.Sharp.CheckBoxOutlineBlank;
                    var iconColor = episode.HasTeamMembers
                        ? Color.Error
                        : Color.Dark;
                    <MudNavLink Href="@episodeLink" Icon="@icon" IconColor="@iconColor">@episodeTitle</MudNavLink>
                }
            </MudNavGroup>
        }
    </MudNavGroup>
</MudNavMenu>

@*<Menu Mode="MenuMode.Inline"
          Theme="options.MenuTheme"
          DefaultOpenKeys=@(new[] { "seasons" })
          DefaultSelectedKeys=@(new[] {"home"})>
        <MenuItem Key="home" Icon="home" RouterLink="/" Title="Accueil" RouterMatch="NavLinkMatch.All"></MenuItem>
        <MenuItem Key="streams" ChildContent=streamMenuItemContent RouterLink="/streams" RouterMatch="NavLinkMatch.Prefix"></MenuItem>
        <SubMenu Key="seasons" TitleTemplate="seasonsMenuItemContent">
        </SubMenu>
    </Menu>
        private readonly RenderFragment streamMenuItemContent =
        @<span>
            <TwitchIcon />
            <span>Streams</span>
        </span>;

        private readonly RenderFragment seasonsMenuItemContent =
        @<span>
            <JournalIcon />
            <span>Episodes</span>
        </span>;

*@
@code{
    IEnumerable<Season> Seasons { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //State = PageState.Loading;
        //await Task.Delay(2000);
        Seasons = await EpisodesService.AllSeasons();
        //Episode = await EpisodesService.FindAsync(SeasonNumber, EpisodeNumber);
        //State = Episode == null ? PageState.NotFound : PageState.Loaded;
    }
}