@inject UserOptions options

<Card Bordered>
    <ChildContent>
        <CardMeta Title="@Title" AvatarTemplate="avatar" Description="@FormattedDate" />
        @if (!string.IsNullOrEmpty(Description))
        {
            <p>@Description</p>
        }
        else
        {
            <p>&nbsp;</p>
        }
        <iframe src="@YouTubeEmbededUri" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ChildContent>
    <ActionTemplate>
        <CardAction>
            <a href="@Resources.StreamerChannelLink(Streamer)" title="@Title" target="_blank">
                <TwitchIcon />
            </a>
        </CardAction>
        <CardAction>
            <a href="@YouTubeEmbededUri" title="@Title" target="_blank">
                <Icon Type="fullscreen" Theme="outline" />
            </a>
        </CardAction>
    </ActionTemplate>
</Card>

@code{
    private RenderFragment avatar =>@<StreamerAvatar Streamer="Streamer" />;
    private string FormattedDate => Date?.ToString("D", options.Culture);

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public DateTime? Date { get; set; }

    [Parameter]
    public string YouTubeEmbededUri { get; set; }

    [Parameter]
    public Streamer Streamer { get; set; }
}